@{
    ViewBag.Title = "Index";
}

<h2>Testing</h2>
En esta sección podrás modificar la base de datos para probar las distintas funcionalidades

<p>@Html.ActionLink("Paradero","Index","Paradero")</p>
<p>@Html.ActionLink("Estado","Index","Estado")</p>
<p>@Html.ActionLink("Recorrido","Index","Recorrido")</p>
<p>@Html.ActionLink("Recorrido y Paradero","Index","RecorridoParadero")</p>
<p>@Html.ActionLink("Informacion","Index","Informacion")</p>